@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #0d0d0d;
  color: white;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #0d0d0d;
}
